/* Estilizações necessárias ao funcionamento */

input:invalid{background-color: #ffff00ff;}
#idFieldsetDadosDoPedido{display: none;}
#idFieldsetDadosDeCompra{display: none;}
.classTipo{display: none;}

/* Estilizações Geral */

*{font: normal normal normal normal 10.0pt "Arial", "sans-serif";}

body{
    margin: auto;
    border: 1px solid #000000;
    border-bottom-width: 0px;
    border-top-width: 0px;
    padding: 0px 4px;
}

/* White Mode */

body{
    background: #ffffff; 
    color: #000000;
}

#idFieldsetResultado label{
        font: normal normal bold normal 11.0pt "Arial", "sans-serif";
        text-decoration: underline solid black 1px;
    }

button{
    height: 19px;
    background: #efefef; 
    color: #000000;
    border: 1px solid #767676;
    border-radius: 2.5px;
}

button:hover{background: #e5e5e5;}
button:active{background: #f5f5f5;}

select{
    background: #ffffff; 
    color: #000000;
    border: 1px solid #767676;
    border-radius: 2.5px;
}

input{
    background: #ffffff; 
    color: #000000;
    border: 1px solid #767676;
    border-radius: 2.5px;
}

/* Largura dos Itens */

label, button, select, input{width: 100%;}
.classImagemExterna{
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}
input{width: calc(100% - 6px);}
#idAssinatura{width: calc(100% - 2px);}
#idBackgroundColor, #idTextoColor{width: calc(100% - 0px);}
#idFieldsetEmailsSelecionados input{width: 13px;}

/* Texto */

h1{font: normal normal bold normal 12.0pt "Arial", "sans-serif";}
h2{font: normal normal normal normal 11.0pt "Arial", "sans-serif";}
#idFieldsetResultado span{font: normal normal normal normal 11.0pt "calibri", "sans-serif";}
legend{font: normal normal bold normal 11.0pt "Arial", "sans-serif";}

button a{
    color: #000000;
    text-decoration: none;
}

#idTítuloPágina{text-shadow: 1px 1px 3px #000000;}

/* Posição na tela */

footer span, footer a, .classTítuloInstruções, #idTítuloPágina{
    display: flex;
    justify-content: center;
}

.classParágrafoInstruções{text-align: justify;}

fieldset{border-radius: 5px; margin: auto;}
.classDetails{margin: 0px 0px 0px 20px;}
.classInputEmail{margin: 0px 0px 0px 20px;}

.classTítuloInstruções{
    background: #efefef; 
    color: #000000;
    border: 1px solid #767676;
    border-radius: 2.5px;
}

.classTítuloInstruções:hover{background: #e5e5e5;}
.classTítuloInstruções:active{background: #f5f5f5;}

.classBotãoDeLimpeza{background: #aaaaaa;}
.classBotãoDeLimpeza:hover{background: #999999;}
.classBotãoDeLimpeza:active{background: #ff0000;}
