body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    flex-direction: row;
    flex: 2 2 max-content;
}

section{
    display: flex;
    flex-direction: column;
    flex: 2 2 max-content;
    text-align: left;
/*     justify-content: space-between; */
/*     align-items: center; */
}

header, footer{
    flex: 0 1 content;
    text-align: center;
}

aside{
    flex: 1 1 content;
    max-width: 200px;
}

form{
    width: 100%;
}

/* div{
    width: 100%;
    display: flex;
}

div input{
    width: 100%;
    flex-grow: 1;
} */

fieldset{
    margin: 0px 3px;
    padding: 2px;
}

h3{
    margin: 0px;
}

header, footer{
    border: 1px solid black;
}

aside{
    border-right: 1px solid black;
    border-left: 1px solid black;
}

h3{display: none;}

/* form{display: none;} */

[type=file]{
    display: none;
}